body {
    background-image: url(../images/body-background.jpg);
    text-align: center;
}

h1 {
    color: rgb(4, 128, 0);
    font-size: 50px;
}

.hidden {
    display: none;
}

#main-screen {
    display: flex;
    margin: 0 auto;
    background-image: url(../images/pond3.jpg);
    background-size:cover;
    height: 600px;
    width: 1200px;
    border: 8px solid rgb(0, 71, 0);
    border-radius: 40px;
}

.drop-zone {
    display: inline;
    width: 258px;
    height: 260px;
    margin-top: 306px;
    background-image: url(../images/lillypad.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.selection-box .drop-zone {
    background-image: none;
}

.dz1 {
    margin-left: 67px; 
}



.selection-box {
    width: 1164px;
    height: 300px;
    background-color: #DCFFCC;
    border: solid 8px #00641B;
    display: flex;
    margin: 0 auto;
    margin-top:40px;
    border-radius: 40px;
}

.frog-box {
    width: 207px;
    height: 207px;
    background-color: rgb(236, 255, 237);
    border: solid 1px #707070;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 39px;
    border-radius: 10px;


}

.animate {
    animation: grow 2s ease-in-out infinite;

}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    } 
    100% {
        transform: scale(1);
    }
}

#guitar-frog {
    margin-left: 32px;
    margin-right: 0px;
}

#drums-frog {
margin-left: 20px;
}

#bass-frog {
    margin-right: 20px;
}

#singing-frog {
    margin-right: 32px;
    margin-left: 0px;
}

.buttons {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.audio-controls {
    margin-top: 100px;
}

#volumeControl {
   accent-color: #00641B;
}

#volumeAmt {
    margin-top: 20px;
}

.resetpage {
    margin-left: 34%;
    display: block;
}