body {
    background-image: url(../images/body-background.jpg);
    text-align: center;
}

#main-screen {
    display: flex;
    margin: 0 auto;
    background-image: url(../images/main-background.jpg);
    height: 730px;
    width: 1200px;
    border: 8px solid rgb(0, 71, 0);
    border-radius: 40px;
}

.drop-zone {
    display: inline;
    width: 258px;
    height: 112px;
    margin-top: 436px;
}

.dz1 {
    margin-left: 67px; 
}